body {
    font-family: 'Arial', sans-serif;
}

header, nav, footer {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 4rem;
}

footer {
    margin-top: 4rem;
}

.group:hover .group-hover\:block {
    display: block;
}

.dropdown-menu {
    transition: opacity 0.5s ease-in-out;
}
